body {
  background-color: #f9f9f9;
  background-image: url("../img/bg-stone.png");
  background-position: center top;
  background-repeat: repeat-x;
  margin: 3px 0;
}

#wrap {
  margin: 0 auto;
  max-width: 1000px;
}

.mozilla-infobar {
  text-align: center;
  background-color: #fff;
  min-height: 3em;
  line-height: 3em;
  font-size: 1.1em;
  padding-bottom: 3px;
}

.mozilla-infobar p,
.mozilla-infobar li {
  display: inline;
  margin: 0 0 0 1em;
}

.mozilla-infobar ul {
  display: inline;
  margin: 0;
  list-style-type: none;
}

.mozilla-infobar button {
  background-color: transparent;
  padding: .3em;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  font-size: .8em;
}

.infobar-hidden {
  display: none;
}

#tabzilla:before {
  background-color: #bbb;
}

header {
  padding: 60px 0 20px 0;
}

#logo {
  text-align: center;
}

#logo img {
  max-width: 500px;
}

main {
  text-align: center;
}

footer {
  color: gray;
  font-size: smaller;
  text-align: center;
}

