###
# force HTTPS
###
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

###
# HSTS
###
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains; preload" "expr=%{HTTPS} == 'on'"
</IfModule>

###
# CSP
###
<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'none'; script-src 'self' https://cdnjs.cloudflare.com https://www.mozilla.org https://www.google-analytics.com; style-src 'self'; img-src 'self' https://www.google-analytics.com; font-src https://www.mozilla.org; frame-ancestors 'none'"
    Header set X-Frame-Options "DENY"
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

###
# Presmerovani
###
<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{QUERY_STRING} search_id=unreadposts$
    RewriteRule ^search\.php$ https://support.mozilla.org/cs/questions/all? [L,R=301]
    
    RewriteRule ^faq\.php$ https://support.mozilla.org/cs/? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=5311$
    RewriteRule ^viewtopic\.php$ https://support.mozilla.org/cs/kb/Řešení\ obecných\ problémů? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=3147$
    RewriteRule ^viewtopic\.php$ https://support.mozilla.org/cs/kb/casto-kladene-dotazy-po-aktualizaci-na-novy-firefo? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=13497$
    RewriteRule ^viewtopic\.php$ https://support.mozilla.org/cs/products/thunderbird? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=(?:12972|13498)$
    RewriteRule ^viewtopic\.php$ https://www.mozilla.cz/podpora/? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=2$
    RewriteRule ^viewtopic\.php$ https://support.mozilla.org/cs/kb/pravidla-zasady-pro-pouzivani-fora? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=482$
    RewriteRule ^viewtopic\.php$ https://discourse.mozilla-community.org/t/kde-nahlasit-chybu-v-lokalizaci/7437? [L,R=301]
    
    RewriteCond %{QUERY_STRING} t=483$
    RewriteRule ^viewtopic\.php$ https://www.mozilla.cz/zapojte-se/? [L,R=301]
    
    RewriteCond %{QUERY_STRING} f=3
    RewriteCond %{QUERY_STRING} mode=post
    RewriteRule ^posting\.php$ https://support.mozilla.org/cs/questions/new/desktop? [L,R=301]
    
    RewriteCond %{QUERY_STRING} f=14
    #RewriteCond %{QUERY_STRING} mode=post
    RewriteRule ^posting\.php$ https://support.mozilla.org/cs/questions/new/mobile? [L,R=301]
    
    RewriteCond %{QUERY_STRING} f=4
    RewriteCond %{QUERY_STRING} mode=post
    RewriteRule ^posting\.php$ https://support.mozilla.org/cs/questions/new/thunderbird? [L,R=301]
    
    RewriteCond %{QUERY_STRING} f=6
    #RewriteCond %{QUERY_STRING} mode=(?:reply|post)
    RewriteRule ^posting\.php$ https://discourse.mozilla-community.org/c/mozilla-czech? [L,R=301]
    
    RewriteCond %{QUERY_STRING} f=8
    #RewriteCond %{QUERY_STRING} mode=(?:reply|post)
    RewriteRule ^posting\.php$ https://support.mozilla.org/cs/? [L,R=301]

    RewriteCond %{QUERY_STRING} f=12
    #RewriteCond %{QUERY_STRING} mode=(?:reply|post)
    RewriteRule ^posting\.php$ https://discourse.mozilla-community.org/c/mozilla-czech? [L,R=301]

    RewriteCond %{QUERY_STRING} f=11
    #RewriteCond %{QUERY_STRING} mode=(?:reply|post)
    RewriteRule ^posting\.php$ https://discourse.mozilla-community.org/c/mozilla-czech? [L,R=301]

    RewriteCond %{QUERY_STRING} f=13
    #RewriteCond %{QUERY_STRING} mode=(?:reply|post)
    RewriteRule ^posting\.php$ https://discourse.mozilla-community.org/c/mozilla-czech? [L,R=301]
</IfModule>

###
# Cachovani obsahu
###
<IfModule mod_expires.c>
    ExpiresActive On
    # default 1 hour
        ExpiresDefault A3600
    # HTML/PHP/plain/XHTML/XML 1 hour
        ExpiresByType text/html A3600
        ExpiresByType text/php A3600
        ExpiresByType application/php A3600
        ExpiresByType text/plain A3600
        ExpiresByType application/xhtml+xml A3600
        ExpiresByType text/xml A3600
        ExpiresByType application/xml A3600
        ExpiresByType application/x-xml A3600
    # CSS 1 week
        ExpiresByType text/css A604800
    # JavaScript 1 week
        ExpiresByType text/javascript A604800
        ExpiresByType text/x-javascript A604800
        ExpiresByType application/javascript A604800
        ExpiresByType application/x-javascript A604800
    # images 2 weeks
        ExpiresByType image/bmp A1209600
        ExpiresByType image/gif A1209600
        ExpiresByType image/ico A1209600
        ExpiresByType image/x-icon A1209600
        ExpiresByType image/vnd.microsoft.icon A1209600
        ExpiresByType image/jpg A1209600
        ExpiresByType image/jpeg A1209600
        ExpiresByType image/png A1209600
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\\.(x?html?|php)$">
        Header set Cache-Control "private, max-age=3600, must-revalidate"
    </FilesMatch>
    <FilesMatch "\\.(css)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>
    <FilesMatch "\\.(js)$">
        Header set Cache-Control "private, max-age=604800"
    </FilesMatch>
    <FilesMatch "\\.(bmp|gif|ico|jpe?g|png)$">
        Header set Cache-Control "public, max-age=1209600"
    </FilesMatch>
    # BEGIN Turn ETags Off
        Header unset Pragma
        FileETag None
        Header unset ETag
        Header unset Last-Modified
    # END Turn ETags Off
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

